/trials
/sample
/otherProj
/another_firebase
/via-2.0.11
/Image-Augmentation---imgaug
/Dataset
mrcnn/mask_rcnn_object_0030.h5
temp/siftObjectDetection/
/Mask_RCNN
wastedata-Mask_RCNN-multiple-classes
/qr_codes
/sample
/temp
/__pycache__
/object-measurement
/object-detector
/mrcnn
/trials22
/captured_img
/qr_codes
/non_essentials
/captured_img
/assets